html,
body {
  height: 100%;
  margin: 0;
}
p {
  margin: 10px 0 !important;
}

.login-container {
  width: 400px;
  margin-top: 50px;
  text-align: center;
}

.fa-small {
  font-size: 16px !important;
}

.btn-float {
  float: left;
  margin-right: 10px;
}

.profile-image {
  width: 180px;
}

.story-table-row {
  transition: 0.3s linear;
}

.wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

/* a {
  color: black;
  
} */
